body {
  background-color: #428bca;
}
/*! Hyx.less v2.1.0 | MIT License | http://github.com/thinkxl/hyx.less */
.row {
  width: 100%;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
